
.transition {
    position: fixed;
    top: 100%;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 101;
    background-color: #212121;
    transition: 0.5s ease-out;
  }
  .transition.is-active {
    top: 0;
  }

.transition {
    position: fixed;
    top: 100%;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 101;
    background-color: #212121;
    transition: 0.5s ease-out;
  }
  .transition.is-active {
    top: 0;
  }