@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    text-decoration: none;
}
/*sidebar*/
.sidebar{
    position: fixed;
    left: -250px;
    width: 250px;
    background-color: #171c1ea3 ;
    height: 100%;
    transition: all .5s ease;
    backdrop-filter: blur(10px);
  }
  .sidebar #side{
      list-style: none;
  }
  .sidebar h1{
    font-size: 22px;
    color: #fff;
    text-align: center;
    line-height: 70px;

    user-select: none;
  }
  .sidebar #side a{
    height: 100%;
    width: 100%;
    line-height: 65px;
    color: white;
    font-size: 20px;
    box-sizing: border-box;
    border-top:1px solid rgba(255,255,255,.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.414);
    display: block;
    transition: .4s; 
    text-decoration: none;
    padding-left: 34px;
  }
  .sidebar #side li:hover a{
    padding-left: 50px;
  }
  #check{
    display: none;
  }
  label #btn,label #cancel{
    position: fixed;
    cursor: pointer;
  }
  label #btn{
    left: 40px;
    top: 6px;
    font-size: 35px;
    color: white;
    border-radius: 3px;
    padding: 5px 10px;
    transition: all .5s;
  }
  
  label #cancel{
    z-index: 1111;
    left: -195px;
    top: 17px;
    font-size: 30px;
    color: #747978;
    padding: 4px 9px;
    transition: all .5s ease;
   
  }
  #check:checked~ .sidebar{
    left: 0;
  }
  #check:checked~ label #btn{
    left: 250px;
    opacity: 0;
    pointer-events: none;
  }
  #check:checked~ label #cancel{
    left: 195px;
  }
  #btn{
      display: none;
  }
  /*responsive sidebar and tulisan front end dev*/
  @media (max-width: 575px) {
    #check:checked~ .sidebar{
      left: 0;
    }
    #check:checked~ label #btn{
      left: 250px;
      opacity: 0;
      pointer-events: none;
    }
    #check:checked~ label #cancel{
      left: 195px;
    }
   label{
      display: block;
   } 
   #btn{
      display: inline;
   }
   #navbar li{
      display: none;
   }
   #nav-btn{
    display: none;
   }
   #head{
    position: absolute;
    right: 10%;
   }
   .nama{
    width: 100%;
   }
   .landing{
    background-position-x: center;
   }
   
  }

/* header and navbar*/

  header{
      width: 100%;
      position: fixed;
  }
  nav{
      top: 0;
      right: 0;
      z-index: 1000;
      align-items: center;
      justify-content: space-between;
      transition: all .5s ease;
      display: flex;
      background-color: rgba(167, 104, 180, 0.719);
      color: aliceblue;
     height: 60px;
     padding-left: 18px;
  }
  nav ul li{
      list-style: none;
      padding: 5px 20px 5px 20px;
  }
  #navbar{
      display: flex;
  text-align: center;
  }
  header{
    width: 100%;
    position: fixed;
}
nav{
    top: 0;
    right: 0;
    z-index: 1000;
    align-items: center;
    justify-content: space-between;
    transition: all .5s ease;
    display: flex;
    background-color: rgba(5, 9, 11, 0.941);
    color: aliceblue;
   height: 60px;
   padding-left: 18px;
}
nav ul li{
    list-style: none;
    padding: 5px 20px 5px 20px;
}

#nav-btn{
    float: right;
    height: 52px;
    background-color:rgb(5, 9, 11) ;
    color: white;
    border: 3px solid rgb(45, 45, 148);
    border-radius: 1em;
    width: 100px;
    height: 40px;
    margin-right: 100px;
}
#nav-btn:hover,button:hover{
    background-color:rgb(45, 45, 148) ;
}
nav ul li a:hover{
    color: rgb(55, 55, 179);
}

.nama{
    padding-top: 230px;
    width: 65.3%;
    color: white;
}
nav ul li a{
    line-height: 50px;
    font-size: 16px;
    color: white;
}
/*icon*/
.medsos ul {
list-style: none;
display: flex;
flex-direction: row;
}
.medsos ul li i{
    margin-left: 25px;
    font-size: 25px;
    color: white;
    margin-top: 13px;
    border: 3.5px solid rgb(71, 71, 168) ;
    border-radius: 2em;
    padding: 4.5px;
    
}
/*landing page and background*/
.landing{
    padding-left: 25px;
    background-size: cover;
    background-image: linear-gradient(to left, rgba(0,0,0,0.3),rgba(0,0,0,2)),url(wallpaper.jpg);
    background-repeat: no-repeat;
    overflow:visible;
    height: 100vh ;
  }
  .rekrut{
    height: 52px;
    background-color:rgb(67, 67, 219) ;
    color: white;
    border-radius: 1em;
    width: 100px;
    height: 30px;
    border: none;
    margin-top: 20px;
    text-align: center;
    padding-top: 10px;
}
#idk{
    font-weight: 600; 
    font-size: 55px;
}

